@import "../../../../commons/theme/media-query";

$width-xs: 250px;
$width-sm: 300px;
$width-md: 400px;
$width-lg: 600px;

:host {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;

  @include xs {
    margin-top: 50px;
  }

  .enter-name {
    display: flex;
    flex-direction: column;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @include xs {
      width: $width-xs;
    }

    @include sm {
      width: $width-sm;
    }

    @include md {
      width: $width-md;
    }

    @include lg {
      width: $width-lg;
    }

    &__logo {
      height: 120px;
    }

    &__title {
      font-family: 'Pattaya', sans-serif;
      font-size: 30px;
      text-align: center;
      margin: 10px 0;
    }

    &__paragraph {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
    }
  }
}


