.container-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  //border-top: 1px solid;
  //border-top-color: #b2b2b2;

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    padding: 0 15px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;

    &__left {
      display: flex;
      align-items: center;

      &--code {
        margin-right: 10px;
      }

      &--author {
        margin-left: 5px;
        color: black;
        font-weight: 600;
        text-decoration: none;
      }
    }

    &__right {
      font-size: 25px;

      &--github {
        color: black;
        text-decoration: none;
      }
    }
  }
}
