.search {
  &__input {
    width: 500px;
    padding: 12px 44px 12px 24px;
    font-size: 18px;
    line-height: 18px;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
    margin-right: -16px;
  }

  &__icon {
    position: relative;
    right: 28px;
  }
}
