:host {
  display: block;
  width: 100%;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  user-select: none;

  .label {
    position: absolute;
    top: 11px;
    font-size: 18px;
    margin: 5px;
    padding: 0 5px;
    -webkit-transition: top .2s ease-in-out,  font-size .2s ease-in-out;
    transition: top .2s ease-in-out,  font-size .2s ease-in-out;
    cursor: text;

    &--disabled {
      color: gray;
    }
  }

  .active {
    top: -1px;
    font-size: 13px;
    cursor: default;
  }

  .input {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-right: -10px;
    border: 1px solid #a1a1a1;
    border-radius: 6px;
    font-size: 18px;
    box-sizing: border-box;

    &:focus {
      outline: none;
      border-color: #165d70;
    }
  }

  .counter {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    top: 4px;
    right: 5px;
    font-size: 11px;
    color: gray;
  }

  .error {
    &--label {
      color: #f73860;
    }

    &--counter {
      color: #f73860;
    }

    &--input {
      border-color: #f73860;

      &:focus {
        outline: none;
        border-color: #f73860;
      }
    }
  }
}
