@import "src/app/shared/theme/media-query";

:host {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .doge {
    @include xs {
      height: 280px;
    }

    @include sm {
      height: 350px;
    }

    @include md {
      height: 450px;
    }

    @include lg {
      height: 500px;
    }
  }

  .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0;
    text-align: center;

    @include xs {
      font-size: 35px;
    }

    @include sm {
      font-size: 50px;
    }

    @include md {
      font-size: 75px;
    }

    @include lg {
      font-size: 75px;
    }
  }

  .description {
    font-family: 'Montserrat', sans-serif;
    text-align: center;

    @include xs {
      font-size: 20px;
    }

    @include sm {
      font-size: 25px;
    }
  }
}
