.button-add {
  font-weight: bold;
  font-size: 35px;
  color:white;
  width: 60px;
  height: 48px;
  border-radius: 10px;
  background-color: #165d70;
  border-style: none;
  user-select: none;
  transition: all 1000ms ease;

  &:hover {
    cursor: pointer;
    background-color: #2f7d87;
  }

  &:active {
    background-color: #114953;
  }
}
