.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  margin: 0 15px;
  justify-content: space-between;

  &__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &--icon {
      width: 60px;
    }

    &--title {
      margin-left: 15px;
      font-family: 'Pattaya', sans-serif;
    }
  }

  &__user {
    display: flex;
    flex-direction: row;
    align-items: center;

    &--name {
      font-family: 'Montserrat', sans-serif;
    }

    &--options {
      align-self: center;
      margin-left: 10px;
    }
  }
}
