@import "../../../../../../../commons/theme/media-query";

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 150px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 2px 0 30px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  margin: 20px;
  cursor: pointer;
  transition: all 200ms ease-in-out;

  @include xs {
    width: 250px;
  }

  @include sm {
    width: 350px;
  }

  @include md {
    width: 300px;
  }

  @include lg {
    width: 400px;
  }

  &:hover {
    box-shadow: 2px 0 30px rgba(0, 0, 0, 0.90);
  }

  &__team-name {
    font-family: 'Montserrat', sans-serif;
    font-size:44px;
    text-transform: uppercase;
    letter-spacing:15px;
    margin-right: -15px;
    color: black;

    @include xs {
      font-size: 25px;
    }

    @include sm {
      font-size: 30px;
    }

    @include md {
      font-size: 30px;
    }

    @include lg {
      font-size: 40px;
    }

  }

  &__team-status {
    position: absolute;
    margin-top: 70px;
    font-size: 18px;

  }

  .active {
    color: green;
    animation: brightness 2s infinite;
  }

  .inactive {
    color: red;
    animation: brightness 2s infinite;
  }
}

@keyframes brightness {
  0%, 100% { filter: brightness(1) }
  50% { filter: brightness(1.6) }
}
