<footer class="container-footer">
  <section class="footer">
     <p class="footer__left">
       <fa-icon class="footer__left--code" [icon]="iconCode"></fa-icon>
       Desarrollado por
       <a class="footer__left--author"
          href="https://www.linkedin.com/in/alejandro-rodriguez-romero/"
          target="_blank">
         Alejandro Rodriguez Romero
       </a>
     </p>
    <div class="footer__right">
      <a class="footer__right--github" href="https://github.com/RedJohn1426/planning-poker-free">
        <fa-icon [icon]="iconGitHub"></fa-icon>
      </a>
    </div>
  </section>
</footer>
