@import "src/app/shared/theme/media-query";

$error: #f73860;
$success: #36a848;
$alert: #ff9900;

.popup {
  position: absolute;
  padding: 10px;
  max-height: 120px;
  border-radius: 15px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;

  @include xs {
    width: 250px;
    top: 20px;
    left: calc(50% - 135px);
    right: calc(50% - 135px);
  }

  @include sm {
    width: 500px;
    top: 30px;
    left: calc(50% - 260px);
    right: calc(50% - 260px);
  }

  &__cross {
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
  }
}

.error {
  background-color: $error;
  border-color: $error;
}

.alert {
  background-color: $alert;
  border-color: $alert;
}

.success {
  background-color: $success;
  border-color: $success;
}
