<div class="header">
  <strong class="title">Registra un nuevo equipo</strong>
  <div class="key" [class]="privateTeam ? 'enabled' : 'disabled'" (click)="enableAndDisablePassword()">
    <fa-icon class="key__icon" [icon]="iconKey"></fa-icon>
  </div>
</div>
<form class="form" [formGroup]="formGroup">
  <ppf-input
    class="form__name"
    label="Nombre" [error]="nameTeamError" maxLength="7" type="text"
    formControlName="name">
  </ppf-input>
  <ppf-input
    class="form__password"
    label="Contraseña" [error]="passwordError" [isDisabled]="!privateTeam" maxLength="20" type="password"
    formControlName="password">
  </ppf-input>
  <ppf-liquid-button class="form__button" text="Guardar" (click)="saveTeam()"></ppf-liquid-button>
</form>
