.header {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 25px;

  .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    margin-right: 12px;
    margin-bottom: 10px;
    user-select: none;
  }

  .key {
    display: flex;
    border: 1px solid;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .enabled {
    border-color: #21acc3;
    background-color: #21acc3;
    color: #ffffff;
  }

  .disabled {
    border-color: #c7c3c3;
    background-color: #c7c3c3;
    color: #444040;
  }

}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__name {
    margin-top: 5px;
    margin-bottom: 22px;

    &::ng-deep .input {
      text-transform: uppercase;
    }
  }

  &__password {
    margin-bottom: 22px;
  }

  &__button {
    margin-bottom: 22px;
  }
}


