<section class="workspaces">
  <div class="workspaces__head">
    <ppf-searcher
      class="workspaces__head--searcher"
      (teamToFind)="presenter.searchTeam($event)"
      (working)="presenter.showMessageNoTeams($event, true)">
    </ppf-searcher>
    <ppf-button-to-add-team
      class="workspaces__head--button-add">
    </ppf-button-to-add-team>
  </div>

  <section class="workspaces__teams">
    <div class="workspaces__teams--results" *ngIf="presenter.teamSearchResults.length">
      <div *ngFor="let value of presenter.teamSearchResults">
        <ppf-card-team
          [teamName]="value.name"
          [active]="value.status"
          [isLock]="value.isLock"
          (click)="presenter.redirectGame(value)">
        </ppf-card-team>
      </div>
    </div>

    <div *ngIf="presenter.noTeams">
      <p class="workspaces__teams--empty">{{ presenter.messageNoTeams }}</p>
    </div>
  </section>
</section>
