<section class="workspaces">
  <pp-searcher
    class="workspaces__searcher" (teamToFind)="presenter.searchTeam($event)"></pp-searcher>
  <section class="workspaces__teams">
    <div class="workspaces__teams--results" *ngIf="presenter.teamSearchResults.length; else empty">
      <div *ngFor="let value of presenter.teamSearchResults; let index=index">
        <pp-card-team
          [teamName]="value.name"
          [design]="index % 2 ? 'top' : 'bottom'"
          (click)="presenter.redirectGame(value.code)">
        </pp-card-team>
      </div>
    </div>
    <ng-template #empty>
      <p class="workspaces__teams--empty">No se encontró resultados</p>
    </ng-template>
  </section>
</section>
