<section class="workspaces">
  <ppf-searcher
    class="workspaces__searcher" (teamToFind)="presenter.searchTeam($event)"></ppf-searcher>
  <section class="workspaces__teams">
    <div class="workspaces__teams--results" *ngIf="presenter.teamSearchResults.length; else empty">
      <div *ngFor="let value of presenter.teamSearchResults; let index=index">
        <ppf-card-team
          [teamName]="value.name"
          [active]="value.status"
          (click)="presenter.redirectGame(value.code)">
        </ppf-card-team>
      </div>
      <ppf-card-to-add></ppf-card-to-add>
    </div>
    <ng-template #empty>
      <p class="workspaces__teams--empty">No se encontró resultados</p>
      <ppf-card-to-add class="workspaces__teams--add"></ppf-card-to-add>
    </ng-template>
  </section>
</section>
