@import "../../../../../../../commons/theme/media-query";

.card {
  display: flex;
  border: 0.5px dashed gray;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 150px;
  border-radius: 25px;
  background-color: white;
  overflow: hidden;
  margin: 20px;
  font-size: 70px;
  color: gray;

  @include xs {
    width: 250px;
  }

  @include sm {
    width: 350px;
  }

  @include md {
    width: 300px;
  }

  @include lg {
    width: 400px;
  }

  &__add {
    cursor: pointer;
    margin: 0;
    font-weight: bold;
    transition: all 200ms ease-in-out;

    &:hover {
      font-size: 80px;
    }
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;

    &--team {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      width: 350px;
      letter-spacing:15px;
      text-align: center;
      border: 0 solid;
      margin-bottom: 15px;
      outline: none;
      text-transform: uppercase;

      @include xs {
        font-size: 25px;
      }

      @include sm {
        font-size: 30px;
      }

      @include md {
        font-size: 30px;
      }

      @include lg {
        font-size: 40px;
      }
    }

    &--buttons {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 85px;

      .icon {
        cursor: pointer;
        font-size: 30px;
        transition: all 200ms ease-in-out;

        &:hover {
          font-size: 40px;
        }
      }

      .confirm {
        position: absolute;
        color: green;
        margin-right: 60px;
      }

      .cancel {
        position: absolute;
        color: red;
        margin-left: 60px;
      }
    }
  }
}
