<div class="card">
  <p class="card__add" (click)="toCreate()" *ngIf="!creating">+</p>
  <form [formGroup]="formGroup" class="card__form" *ngIf="creating">
    <input type="text" class="card__form--team" formControlName="name"  maxlength="7" placeholder="Equipo" autofocus #input>
    <div class="card__form--buttons">
      <fa-icon class="icon confirm" [icon]="iconConfirm" (click)="confirmCreate()"></fa-icon>
      <fa-icon class="icon cancel" [icon]="iconCancel" (click)="cancelCreate()"></fa-icon>
      <fa-icon class="icon lock" [icon]="iconPrivate" (click)="addPassword()"></fa-icon>
    </div>
  </form>
</div>
